<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>提问详情</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type = "text/css" th:href="@{/css/global.css}" />
    <style>
        .nav-underline .nav-link {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: .875rem;
            color: #6c757d;
        }
    </style>
</head>
<body style="background:rgb(247,248,249);">

<!-- 导航栏 -->
<div th:replace="common/header::header(activeUrl='question')"></div>

<main role="main" class="container mt-3 p-3 bg-white rounded">
    <div class="row">
        <div class="col-md-12 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title" th:text="${question.getTitle()}"></h2>
                <p class="blog-post-meta">
                    <span th:text="${#dates.format(question.getGmtUpdate(),'yyyy-MM-dd HH:mm:ss')}"></span>
                    by
                    <a style="color:#71716999;background: #ffb700c4" class="badge badge-danger"
                       th:text="${question.getAuthorName()}" th:href="@{|/user/info/${question.authorId}|}"></a>
                    <span>
                    <svg t="1610696420189" class="icon" viewBox="0 0 1024 1024" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" p-id="642" width="16" height="16"><path
                            d="M513.1 187c-324 0-448.7 320-448.7 320s127 327.3 448.7 327.3S961.8 507 961.8 507 837.1 187 513.1 187z m0 522.5c-110.5 0-200.1-89.6-200.1-200.1s89.6-200.1 200.1-200.1 200.1 89.6 200.1 200.1-89.6 200.1-200.1 200.1z"
                            p-id="643"></path><path
                            d="M400.7 508.4c0 40.4 21.5 77.6 56.5 97.8 34.9 20.2 78 20.2 113 0 34.9-20.2 56.5-57.5 56.5-97.8 0-62.4-50.6-113-113-113s-113 50.6-113 113z"
                            p-id="644"></path></svg>
                        [[${question.getViews()}]]
        </span>
                    <!--自己可以删除编辑文章 当然管理员也可以-->
                <div class="float-right"
                     th:if="${loginUser != null&&((loginUser.getId()==question.getAuthorId())||loginUser.getType()==1)}">
                    <input type="hidden" id="qid" th:value="${question.getQid()}">
                    <a style="color:red" th:href="@{'/question/delete/'+${question.getQid()}}"
                       onclick="if(!confirm('确定删除吗?')) return false;">
                        <svg class="bi bi-x-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                        删除</a>

                    <a style="color:#24b75d" th:href="@{'/question/edit/'+${question.getQid()}}">
                        <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd"
                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                        编辑</a>

                    <button id="passBtn" style="color:#24b75d" th:if="${(loginUser.type==1)&&question.getStatus() == 1}">通过</button>
                </div>
                </p>
            </div>
            <hr style="margin-top: 18px">
            <div id="doc-content">
                <textarea style="display:none;" placeholder="markdown" th:text="${question.getContent()}"></textarea>
            </div>
            <div class="col-md-12 blog-main" style="margin-top: 20px">
                <hr>
            </div>





            <div class="col-md-12 blog-main" style="margin-top: 20px;">
                <!--想要保存评论 必须拿到对应的qid 否则都不知道存哪里-->
                <form th:action="@{'/comment/question/'+${question.getQid()}}" method="post">
                    <input type="hidden" name="entitytype" value="3">
                    <input type="hidden" name="entityid" th:value="${question.getId()}">
                    <div class="form-group">
                        <textarea style="border-radius: 10px" name="content" rows="3" required
                                  class="form-control"></textarea>
                    </div>
                    <input type="submit" class="btn btn-block btn-primary " value="提交评论">
                </form>
                <div class="col-md-12 blog-main" style="margin-top: 20px">
                    <hr>
                </div>

                <!-- 回帖列表 -->

                <div class="col-md-12 blog-main" >
                    <hr>
                </div>
                <div class="col-md-12 blog-main" style="margin-top: 20px">
                    <!--取消ul左侧缩进 -->
                    <ul class="list-unstyled">
                        <li class="my-3 p-3 bg-white rounded shadow-sm" th:each="cvo:${comments}">

                            <div class="media-body">
                                <div>
                                    <span class="font-size-12 text-success" th:utext="${cvo.user.username}"></span>:
                                    <span class="mt-2" th:utext="${cvo.comment.content}">

                                </span>
                                    <span class="badge badge-secondary float-right floor">
									<i th:text="${page.offset + cvoStat.count}">1</i>#
								</span>
                                </div>
                                <div class="text-muted font-size-12">
                                    <span class="font-size-9 text-muted"> <b  th:text="${#dates.format(cvo.comment.createtime,'yyyy-MM-dd HH:mm:ss')}"></b></span>
                                    <ul class="d-inline float-right">

                                        <li class="d-inline ml-2">|</li>
                                        <li class="d-inline ml-2"><a href="#" class="btn-light">回复(<i th:text="${cvo.replyCount}">2</i>)</a></li>
                                    </ul>
                                </div>
                                <!-- 回复列表 -->
                                <ul class=" font-size-12 text-muted" style="list-style-type: none">

                                    <li class=" mb-7 " th:each="rvo:${cvo.replys}">
                                        <div>
										<span th:if="${rvo.target==null}">
											<b class="text-info" th:text="${rvo.user.username}"></b>:&nbsp;&nbsp;
										</span>
                                            <span th:if="${rvo.target!=null}">
											<i class="text-info" th:text="${rvo.user.username}"></i> 回复
											<b class="text-info" th:text="${rvo.target.username}"></b>:&nbsp;&nbsp;
										</span>
                                            <span th:utext="${rvo.reply.content}"></span>
                                        </div>
                                        <div>
                                            <span class="font-size-9 text-muted" th:text="${#dates.format(rvo.reply.createtime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                            <ul class="d-inline float-right">
                                                <!--                                            <li class="d-inline ml-2"><a href="#" class="text-primary">赞(1)</a></li>-->
                                                <li class="d-inline ml-2">|</li>
                                                <li class="d-inline ml-2"><a th:href="|#huifu-${cvo.comment.id}-${rvoStat.count}|" data-toggle="collapse" class="text-primary">回复</a></li>
                                            </ul>
                                            <div th:id="|huifu-${cvo.comment.id}-${rvoStat.count}|" class="mt-4 collapse">
                                                <form method="post" th:action="@{|/comment/question/${question.qid}|}">
                                                    <div>
                                                        <input type="text" class="input-size" name="content" th:placeholder="|回复${rvo.user.username}|"/>
                                                        <input type="hidden" name="entitytype" value="1">
                                                        <input type="hidden" name="entityid" th:value="${cvo.comment.id}">
                                                        <input type="hidden" name="targetid" th:value="${rvo.user.id}">
                                                    </div>
                                                    <div class="text-right mt-2">
                                                        <button type="submit" class="btn btn-light btn-sm" onclick="#">&nbsp;&nbsp;回&nbsp;&nbsp;复&nbsp;&nbsp;</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </li>

                                    <!-- 回复输入框 -->
                                    <li class="pb-3 pt-3">
                                        <form method="post" th:action="@{|/comment/question/${question.qid}|}">
                                            <div>
                                                <input type="text" class="input-size" name="content" placeholder="请输入你的观点"/>
                                                <input type="hidden" name="entitytype" value="1">
                                                <input type="hidden" name="entityid" th:value="${cvo.comment.id}">
                                            </div>
                                            <div class="pt-3 text-right">
                                                <button type="submit" class="btn btn-light btn-sm" onclick="#">&nbsp;&nbsp;回&nbsp;&nbsp;复&nbsp;&nbsp;</button>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>


            <!--<nav aria-label="Page navigation example" class="mt-4">
                <ul class="pagination justify-content-center pagination-sm">
                    &lt;!&ndash;往前翻 如果没有前一页 则禁用&ndash;&gt;
                    <li th:class="${info.isHasPreviousPage()==true?'page-item':'page-item disabled'}">
                        <a class="page-link" th:href="@{'/question?page='+${info.getPrePage()}+'&limit=10'}"
                           tabindex="">Previous</a>
                    </li>

                    <div th:each="page:${info.getNavigatepageNums()}">
                        <li class="page-item" th:classappend="${page}==${info.getPageNum()}?'active':''">
                            <a class="page-link" th:href="@{'/question?page='+${page}+'&limit=10'}"
                               th:text="${page}">
                            </a>
                        </li>
                    </div>
                    <li th:class="${info.isHasNextPage()==true?'page-item':'page-item disabled'}">
                        <a class="page-link"
                           th:href="@{'/question?page='+${info.getNextPage()}+'&limit=10'}">Next</a>
                    </li>
                </ul>
            </nav>-->
            <nav class="mt-5" th:if="${page.getRows()>0}">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:href="@{${page.path}(current=1)}">首页</a>
                    </li>
                    <li th:class="|page-item ${page.current==1?'disabled':''}|">
                        <a class="page-link" th:href="@{${page.path}(current=${page.current-1})}">上一页</a>
                    </li>
                    <li th:class="|page-item ${i==page.current?'active':''}|"
                        th:each="i:${#numbers.sequence(page.from,page.to)}">
                        <a class="page-link" th:href="@{${page.path}(current=${i})}" th:text="${i}"></a>
                    </li>
                    <li th:class="|page-item ${page.current==page.total?'disabled':''}|">
                        <a class="page-link" th:href="@{${page.path}(current=${page.current+1})}">下一页</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{${page.path}(current=${page.total})}">末页</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>

<div th:replace="common/footer::footer"></div>
<a class="to-top">返回顶部</a>
<th:block th:replace="common/footer::script"></th:block>
<link rel="stylesheet" th:href="@{/editormd/css/editormd.preview.css}"/>
<script th:src="@{/editormd/lib/marked.min.js}"></script>
<script th:src="@{/editormd/lib/prettify.min.js}"></script>
<script th:src="@{/editormd/lib/raphael.min.js}"></script>
<script th:src="@{/editormd/lib/underscore.min.js}"></script>
<script th:src="@{/editormd/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/editormd/lib/flowchart.min.js}"></script>
<script th:src="@{/editormd/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{/editormd/editormd.js}"></script>

<script type="text/javascript">
    var testEditor;
    $(
        function () {
            testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
                htmlDecode: "style,script,iframe",
                emoji: true,
                taskList: true,
                tocm: true,
                tex: true, // 默认不解析
                flowChart: true, // 默认不解析
                sequenceDiagram: true, // 默认不解析
                codeFold: true
            });
        }
    );
    $(function(){
        $("#passBtn").click(setPass);
    });

    // 审核通过
    function setPass() {
        $.post(
            "/question/pass",
            {"qid":$("#qid").val()},
            function(data) {
                data = $.parseJSON(data);
                if(data.code == 0) {
                    alert("审核通过……");
                } else {
                    alert(data.msg);
                }
            }
        );
    }
</script>
</body>
</html>