<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" th:href="@{/img/sculogo.png}">
    <!--【无效链接，弃用】link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous"-->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/scumath.css}">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/browse_search.css}">
    <title>分类浏览</title>
</head>
<body>
<div>
    <!-- 头部 -->
    <header th:fragment="header"><!--复用header，在另一个header上调用th:replace="index::header"覆盖原有header的内容-->
        <!--<a href="https://arxiv.org/#content" class="is-sr-only">Skip to main content</a>-->
        <!-- start desktop header -->
        <div class="column" style="background-color: #222222">
            <div style="list-style: none; line-height: 2;">
                <!--<a href="https://www.cornell.edu/"><img src="./123_files/cornell-reduced-white-SMALL.svg" alt="Sichuan University"></a>-->
                <a href="http://scu.edu.cn/"><img src="./img/sculogo.png" style="width: 50px;height: 50px;"
                                                  alt="Sichuan University"></a>
                <a href="http://scu.edu.cn/"><img src="./img/scuname.png" style="width: 120px;height: 50px;"
                                                  alt="Sichuan University"></a>
            </div>
            <!-- timeboxed column --><!-- /end timeboxed column -->

            <!--<div class="column" id="support-ack">
              <a >本网页为内部网页仅用于四川大学<br>数学学院师生交流学习<br></a>
            </div>-->
        </div>

        <div id="header" class="is-hidden-mobile">
            <h1 style="font-size:30px"><a th:href="@{index}">数学视界</a>><u th:utext="${classname}"></u>分类下的论文</h1>
            <div class="login">
                <a th:href="@{/login}" th:if="${loginUser==null}"> <!--th:text="${loginMsg}"-->登录</a>       <!---->
                <a th:href="@{/user/manage}" th:if="${loginUser!=null}" th:utext="${loginUser.username}">
                    <!--th:text="${logoutMsg}"-->管理</a>
                <a th:href="@{/mymsg}" th:if="${loginUser!=null}">  <!--th:text="${manageMsg}"-->消息</a>
                <a th:href="@{/logout}" th:if="${loginUser!=null}">  <!--th:text="${manageMsg}"-->退出</a>

            </div>

            <div class="search-block level-right">
                <form class="level-item mini-search" method="GET" action="/user/search">        <!--_-->
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input is-small" type="text" name="keyword" placeholder="搜索..."
                                   aria-label="Search term or terms">
                            <!--<p class="help"><a href="https://arxiv.org/search/advanced">高级搜索</a></p>  -->
                            <!---->
                        </div>
                        <div class="control">
                            <div>
                                <select name="fieldname" aria-label="Field to search">
                                    <option value="title" selected="selected">名字</option>
                                    <option value="content">摘要</option>
                                    <!--更改下拉菜单项-->
                                </select>
                            </div>
                        </div>
                        <div class="control">
                            <div>
                                <select name="sortname" aria-label="Field to search">
                                    <option value="createtime" selected="selected">上传时间</option>
                                    <option value="downloadcount">下载量</option>
                                    <!--更改下拉菜单项-->
                                </select>
                            </div>
                        </div>
                        <button class="button is-small is-cul-darker">搜索</button>
                    </div>
                </form>
            </div>


            <div class="mobile-header">                         <!--手机界面-->
                <div class="columns is-mobile">
                    <div class="column logo-arxiv"><a href="http://math.scu.edu.cn/"
                                                      style="color:white ;font-size:25px">数学学院</a></div>
                    <div class="column logo-cornell"><a href="http://math.scu.edu.cn/">
                        <picture>
                            <img src="./img/sculogo.png" style="width: 50px;height: 50px;"
                                 alt="Sichuan University Logo">
                            <img src="./img/scuname.png" style="width: 120px;height: 50px;">
                        </picture>
                    </a></div>
                    <div class="column nav" id="toggle-container" role="menubar">
                        <button class="toggle-control">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-white">
                                <title>open search</title>
                                <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                            </svg>
                        </button>
                        <div class="mobile-toggle-block toggle-target">
                            <!--点击手机页面的搜索按钮后出来的东西-->
                            <form class="mobile-search-form" method="GET" action="https://arxiv.org/search">
                                <!---->
                                <div class="field has-addons">
                                    <input class="input" type="text" name="query" placeholder="Search..."
                                           aria-label="Search term or terms">
                                    <input type="hidden" name="source" value="header">
                                    <input type="hidden" name="searchtype" value="all">
                                    <button class="button">GO</button>
                                </div>
                            </form>
                        </div>
                        <!--菜单按钮-->
                        <button class="toggle-control">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon filter-white"
                                 role="menu"><title>open navigation menu</title>
                                <path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                            </svg>
                        </button>

                    </div>
                </div>
            </div><!-- /end mobile-header -->
    </header>
</div>
<div>
    <!-- 内容 -->
    <div class="message-general">
        <div>
            <!-- 论文列表 -->
            <ul class="list-unstyled mt-4">
                <li class="media pb-3 pt-3 mb-3 border-bottom" th:each="map:${papers}"><!--//遍历map:${papers}"-->
                    <!--//不需要论文头像【删去此行原本的代码】-->
                    <div class="media-body">
                        <h6 class="mt-0 mb-3">
                            <!--//论文标题（需要做动态处理），另外标题应该能链接到具体论文详情页面上，地址设为/paper/detail/（论文的id）-->
                            <a th:href="@{|/detail?id=${map.paper.id}| }" th:utext="${map.paper.title}">备战<em>春招</em>，面试刷题跟他复习，一个月全搞定！</a>
                        </h6>
                        <div class="mb-3" th:utext="${map.paper.content}"><!--论文简介-->
                            金三银四的金三已经到了，你还沉浸在过年的喜悦中吗？ 如果是，那我要让你清醒一下了：目前大部分公司已经开启了内推，正式网申也将在3月份陆续开始，金三银四，<em>春招</em>的求职黄金时期已经来啦！！！
                            再不准备，作为19应届生的你可能就找不到工作了。。。作为20届实习生的你可能就找不到实习了。。。 现阶段时间紧，任务重，能做到短时间内快速提升的也就只有算法了，
                            那么算法要怎么复习？重点在哪里？常见笔试面试算法题型和解题思路以及最优代码是怎样的？ 跟左程云老师学算法，不仅能解决以上所有问题，还能在短时间内得到最大程度的提升！！！
                        </div>
                        <div class="text-muted font-size-12">
                            <u class="mr-3" th:utext="${map.paper.fatherid}">寒江雪</u>发布于 <b
                                th:text="${#dates.format(map.paper.createtime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15
                            15:32:18</b>
                            <ul class="d-inline float-right">
                                <li class="d-inline ml-2">下载次数 <i th:text="${map.paper.downloadcount}">11</i></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- 分页 -->  <!-- 1:30课 1：18：00开始 -->
            <nav class="mt-5" th:if="${page.getRows()>0}">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:href="@{${page.path}(current=1)}">首页</a>
                    </li>
                    <li th:class="|page-item ${page.current==1?'disabled':''}|">
                        <a class="page-link" th:href="@{${page.path}(current=${page.current-1})}">上一页</a>
                    </li>
                    <li th:class="|page-item ${i==page.current?'active':''}|"
                        th:each="i:${#numbers.sequence(page.from,page.to)}">
                        <a class="page-link" href="#" th:text="${i}">1</a>
                    </li>
                    <li th:class="|page-item ${page.current==page.total?'disabled':''}|">
                        <a class="page-link" th:href="@{${page.path}(current=${page.current+1})}">下一页</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{${page.path}(current=${page.total})}">末页</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- 尾部 -->

</div>


</body>
</html>