<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--https://mybatis.org/mybatis-3/zh/getting-started.html入门找已映射的sql语句copy过来-->
<mapper namespace="com.nowcoder.community.dao.BlogPicMapper">
    <insert id="insertBlogPic" parameterType="BlogPic" keyProperty="id">
        insert into blogpic (picName,blogId)
        values(#{picName},#{blogId})
    </insert>
    <delete id="deleteByBlogId">
        delete from blogpic where blogId = #{blogid}
    </delete>


</mapper>