<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.LikeMapper">
  <select id="findBlogLikeById" resultType="int">
    select id from like where user_id=#{userId} and blog_id = #{blogId}
  </select>
  <insert id="insertBlogLike">
    insert into like (user_id,blog_id)
    values (#{userId},#{blogId})
  </insert>
  <delete id="deleteBlogLike">
    delete from like where id=#{id}
  </delete>
  <select id="countBlogLike" resultType="int">
    select count(id) from like where blog_id =#{blogId}
  </select>


  <select id="findQuestionLikeById" resultType="int">
    select id from like where user_id=#{userId} and question_id = #{questionId}
  </select>
  <insert id="insertQuestionLike">
    insert into like (user_id,question_id)
    values (#{userId},#{questionId})
  </insert>
  <delete id="deleteQuestionLike">
    delete from like where id=#{id}
  </delete>
  <select id="countQuestionLike" resultType="int">
    select count(id) from like where question_id =#{questionId}
  </select>
</mapper>