<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--https://mybatis.org/mybatis-3/zh/getting-started.html入门找已映射的sql语句copy过来-->
<mapper namespace="com.nowcoder.community.dao.SourceMapper">
    <!--papermapper路径-->
    <!--每一个对应于papermapper的一个-->
    <sql id="insertFields">
        father_id, user_id, title, content, file_path, status, create_time,download_count
    </sql><!--定义标签-->
    <sql id="selectFields">
        id, father_id, user_id, title, content, file_path, status, create_time,download_count
    </sql>
    <!--<select id="selectById" resultType="Source">
        select <include refid="selectFields"></include>
        from source
        where id = #{id}&lt;!&ndash;#字段表明引用方法的参数int id&ndash;&gt;
    </select>


    <select id="selectByFatherid" resultType="Source">
        select <include refid="selectFields"></include>
        from source
        where father_id = #{fatherid}
    </select>
    <select id="selectOnlyByStatus" resultType="Source">
        select <include refid="selectFields"></include>
        from source
        where status = #{status}
        order by id desc
    </select>
    &lt;!&ndash;查询标签，id要对应usermapper中的方法名。返回类型User，本来应该写上路径的但application.properties中配置了默认路径&ndash;&gt;
    <select id="selecyByUserid" resultType="Source">
        select <include refid="selectFields"></include>
        from source
        where user_id = #{userid}
    </select>
    <select id="selectByStatus" resultType="Source">
        select <include refid="selectFields"></include>
        from source
        where status = #{status}
        order by id asc
        limit #{offset},#{limit}
    </select>
    <select id="selectByTitle" resultType="Source">
        select <include refid="selectFields"></include>
        from source
        where title = #{title}
    </select>
    <select id="selectByFulltitle" resultType="Source">
        select <include refid="selectFields"></include>
        from source
        where title = #{title}
    </select>
    <select id="countByAuthorId" resultType="int">
        select count(id) from source where user_id = #{id}
    </select>
    &lt;!&ndash;insert标签 parameterType声明参数类型 keyproperty表明id字段主键对应属性（添加数据时不会输入id的mysql会自动生成id，mybatis从mysql得到后自动填入user）&ndash;&gt;
    <insert id="insertSource" parameterType="Source" keyProperty="id">
        insert into source (<include refid="insertFields"></include>)
        values(#{fatherid}, #{userid}, #{title}, #{content}, #{filepath}, #{status}, #{createtime}, #{downloadcount})
    </insert>
    <delete id="delectById">
        delete from source where id = #{id}
    </delete>
    &lt;!&ndash;update标签&ndash;&gt;
    <update id="updateSourcestatus">
        update source set content = #{content},father_id = #{fatherid},status = #{status} where id = #{id}
    </update>
    <update id="updateDownloadcount">
        update source set download_count = #{downloadcount} where id = #{id}
    </update>
    <select id="countstatus" resultType="int">
        select count(id)
        from source
        where status = #{status}
    </select>-->


</mapper>